<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
</head>
<h1>Welcome to H-CLUB !!</h1>
<p>이 페이지는 "H-CLUB"의 service 제공 페이지입니다.</p>
<br />
<%= link_to "글작성", posts_path, class:'btn btn-default' %>
